@page "/events"
@inject NavigationManager Navigation

<h2>Upcoming Events</h2>

<Virtualize Items="@Events" Context="evt">
    <EventCard Name="@evt.Name" Date="@evt.Date" Location="@evt.Location" />
</Virtualize>


@code {
    private List<Event> Events = new()
{
new Event { Id = 1, Name = "TechConf 2025", Date = DateTime.Now.AddDays(10), Location = "Riyadh" },
new Event { Id = 2, Name = "Health Expo", Date = DateTime.Now.AddDays(20), Location = "Jeddah" }
};

    private void GoToDetails(int id)
    {
        Navigation.NavigateTo($"/events/{id}");
    }

    public class Event
    {
        public int Id { get; set; }
        public string Name { get; set; }
        public DateTime Date { get; set; }
        public string Location { get; set; }
    }
}
